<section id="section2" class="our-courses mt-30 mb-50">
    <div class="container">
        <div class="text-center mb-50 head">
            <h2 class="mb-25">Про <span>Нашу</span> Компанію</h2>
            <p>Ми пишаємося тим, що все більше українців та гостей країни віддають переваги нашому сервісу оренди авто подобово. Для цього існує відразу декілька причин:</p>
        </div>
        <div class="row courses top">
            {% for about in about_us %}
                <div class="col-sm-4 course text-bold clearfix">
                    <figure class="pull-left mt-10"><i style="font-size:80px; color:#5A9BD1" class="fa fa-check-circle" aria-hidden="true"></i></figure>
                    <div class="info">
                	    <h5>{{ about.name }}</h5>
                        <p>{{ about.desc }}</p>
                    </div>
                </div>
            {% endfor %}
		</div>
		<div class="text-center mb-50 head">
            <p>Пропонуємо окрему послугу - оренда авто для бізнесу. Вона дозволяє вашій компанії отримати в своє користування сучасні автомобілі без витрат на їх постійне утримання. Ви користуєтеся ними тільки тоді, коли це необхідно, наприклад, якщо потрібно поїхати на зустріч до клієнта або зустріти бізнес-партнера з аеропорту, який з якихось причин не може їздити без водія.</p>
        </div>
    </div>
</section>