
<section id="section3" class="our-courses parallax parallax_one" data-stellar-background-ratio="0.5" style="background-position: center bottom">
    <div class="overlay"></div>
    <div class="parallax_inner">
        <div class="container">
            <div class="text-center mb-50 head">
                <h2 class="mb-25" style="color:#fff">Наші <span style="color:#ffc000">автомобілі</span></h2>
                <p>Вибір за Вами</p>
            </div>
            <div class="row courses">
                {% for car in cars %}
                    <div class="col-md-4 col-sm-6 course text-bold clearfix">
                        <div class="course_inner">
                        <figure class="pull-left mt-10"><img alt="" style="height:170px;" src={{ car.photo.url }}></figure>
                        <div class="info">
                            <h5 style="color:#fff">{{ car.category }}</h5>
                            <p>{{ car.desc }}</p>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

