{% extends 'index.html' %}
{% load static %}

{% block site_content %}
<section id="section0" class="header">
    <div class="container">
        <div class="headerInner">
            <h2>Приветственный текст<br>главная суть</h2>
            <p>Здесь нужно дать краткое описание <b class="red">сайта</b></p>
            <div class="row mt-30">
                <div class="col-md-4 col-sm-6">
                	<form>
                    	<input type="text" placeholder="Ваше Имя:">
						<input type="email" placeholder="Ваш Email:">
                    	<input type="tel" placeholder="Ваш номер телефона:">
						<button class="btn btn-default btn-head mt-20 mb-50">Отправить заявку</button>
                	</form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="excellence mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <figure class="mt-50"><img src={% static "img/director.png" %} alt=""></figure>
                    </div>
                    <div class="col-sm-6">
                    	<h5 style="color:#000">Здравствуйте, Вас приветствует <span style="color:#ffc000">Имя Фамилия</span></h5>
                       <p>
	                       Стихотворение, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, ускоряет SWOT-анализ. Рыночная информация существенно программирует прозаический SWOT-анализ, первым образцом которого принято считать книгу А.Бертрана "Гаспар из тьмы". Объемная скидка, безусловно, дает целевой сегмент рынка, отвоевывая рыночный сегмент. Косвенная реклама порождена временем. Женское окончание притягивает медиавес, невзирая на действия конкурентов.</p>
	                       <p>Нельзя восстановить истинной хронологической последовательности событий, потому что женское окончание повсеместно детерминирует поэтический брахикаталектический стих. Драма уязвима. Наш «сумароковский» классицизм – чисто русское явление, но опрос однообразно усиливает эксклюзивный абстракционизм, не считаясь с затратами.
                       </p>
                       <p>Отсюда естественно следует, что синтагма неумеренно просветляет из ряда вон выходящий палимпсест. Эвокация осмысленно концентрирует анализ рыночных цен. Управление брендом синхронизирует деструктивный эпитет. Как предсказывают футурологи изменение глобальной стратегии определяет абстракционизм.
                       </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    {% include 'tariffs.html' %}

<section id="section2" class="our-courses mt-30 mb-50">
    <div class="container">
        <div class="text-center mb-50 head">
            <h2 class="mb-25">О <span>НАШЕЙ</span> Компании</h2>
            <p>Отсюда естественно следует, что синтагма неумеренно просветляет из ряда вон выходящий палимпсест. Эвокация осмысленно концентрирует анализ рыночных цен. Управление брендом синхронизирует деструктивный эпитет. Как предсказывают футурологи изменение глобальной стратегии определяет абстракционизм.</p>
        </div>
        <div class="row courses top">
            <div class="col-sm-4 course text-bold clearfix">
                <figure class="pull-left mt-10"><i style="font-size:80px; color:#5A9BD1" class="fa fa-check-circle" aria-hidden="true"></i></figure>
                <div class="info">
                	<h5>Преимущество №1</h5>
                    <p>Косвенная реклама порождена временем. Женское окончание притягивает медиавес, невзирая на действия конкурентов.</p>
                </div>
            </div>
            <div class="col-sm-4 course text-bold clearfix">
                <figure class="pull-left mt-10"><i style="font-size:80px; color:#FFC000" class="fa fa-check-circle" aria-hidden="true"></i></figure>
                <div class="info">
                	<h5>Преимущество №2</h5>
                    <p>Косвенная реклама порождена временем. Женское окончание притягивает медиавес, невзирая на действия конкурентов.</p>
                </div>
            </div>
            <div class="col-sm-4 course text-bold clearfix">
                <figure class="pull-left mt-10"><i style="font-size:80px; color:#EE6555" class="fa fa-check-circle" aria-hidden="true"></i></figure>
                <div class="info">
                	<h5>Преимущество №3</h5>
                    <p>Косвенная реклама порождена временем. Женское окончание притягивает медиавес, невзирая на действия конкурентов.</p>
                </div>
            </div>

		</div>
		<div class="text-center mb-50 head">
            <p>Нельзя восстановить истинной хронологической последовательности событий, потому что женское окончание повсеместно детерминирует поэтический брахикаталектический стих. Драма уязвима. Наш «сумароковский» классицизм – чисто русское явление, но опрос однообразно усиливает эксклюзивный абстракционизм, не считаясь с затратами.</p>
        </div>
    </div>
</section>

    {% include 'cars.html' %}

<section class="trial mt-40 mb-30 text-bold text-center">
    <div class="container">
        <h3>Появились вопросы? Звоните не откладывая</h3>
        <h2 style="color:#000"><i style="color:#ffc000" class="fa fa-phone-square" aria-hidden="true"></i> +7 (888) 999-99-99</h2>
    </div>
</section>


<section id="section4" class="testimonials text-bold text-center color-white parallax parallax_two" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="parallax_inner owl-carousel" data-slides="1" data-slides-md="1" data-slides-sm="1" data-margin="0" data-loop="true" data-dots="true" data-nav="false">
        <div class="container">
            <figure><img alt="" src="img/testimonial.png"></figure>
            <h5>Лариса Владимировна</h5>
            <p>Отсюда естественно следует, что синтагма неумеренно просветляет из ряда вон выходящий палимпсест. Эвокация осмысленно концентрирует анализ рыночных цен. Управление брендом синхронизирует деструктивный эпитет. Как предсказывают футурологи изменение глобальной стратегии определяет абстракционизм.</p>
        </div>
         <div class="container">
            <figure><img alt="" src="img/testimonial1.jpg"></figure>
            <h5>Александр Викторович</h5>
            <p>Отсюда естественно следует, что синтагма неумеренно просветляет из ряда вон выходящий палимпсест. Эвокация осмысленно концентрирует анализ рыночных цен. Управление брендом синхронизирует деструктивный эпитет. Как предсказывают футурологи изменение глобальной стратегии определяет абстракционизм.</p>
        </div>
        <div class="container">
            <figure><img alt="" src="img/testimonial.png"></figure>
            <h5>Лидия Михайловна</h5>
            <p>Отсюда естественно следует, что синтагма неумеренно просветляет из ряда вон выходящий палимпсест. Эвокация осмысленно концентрирует анализ рыночных цен. Управление брендом синхронизирует деструктивный эпитет. Как предсказывают футурологи изменение глобальной стратегии определяет абстракционизм.</p>
        </div>
    </div>
</section>

<section id="section5" class="trial mt-40 mb-30 text-bold">
    <div class="container">
        <h2 class="text-center" style="color:#000">Контактная информация</h2>
        <div class="row">
    	 	<div class="col-xs-12 col-sm-6" >
    	 		<h6>Телефон:</h6>
    	 		<h3 style="color:#000"><i style="color:#ffc000" class="fa fa-phone-square" aria-hidden="true"></i> +7 (888) 999-99-99</h3>
        	</div>
        	<div class="col-xs-12 col-sm-6" style="text-align:left">
    	 		<h6>Email:</h6>
    	 		<h3 style="color:#000"><i style="color:#ffc000" class="fa fa-envelope" aria-hidden="true"></i><a style="color:#000" href="mailto:email"> ваш email</a></h3>
        	</div>
    	</div>
    	<div class="text-center">
    		<a class="btn btn-default" href="">Заказать звонок</a>
    	</div>

    </div>
</section>

<footer class="text-center color-white text-bold">
    <span>© Название компании, 2016 | <a href="http://eric.bayguzin.ru">Разработчик сайта</a></span>
</footer>


{% endblock %}