{% extends 'index.html' %}
{% load static %}

{% block site_content %}

    {% include 'reserve.html' %}

<section class="excellence mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <figure class="mt-50"><img src={% static "img/director.png" %} alt=""></figure>
                    </div>
                    <div class="col-sm-6">
                    	<h5 style="color:#000">Привіт, Вас вітає <span style="color:#ffc000">Ім'я Фамілія</span></h5>
                       <p>Необхідність взяти автомобіль в оренду може виникнути з багатьох причин - Ви приїхали в гості в наше місто та бажаєте бути мобільним, продали своє авто, а необхідність бути мобільним залишилася, своя машина знаходиться на ремонті, ділові та робочі зустрічі, виїзд за місто, поїздка на риболовлю, подорож в Карпати, інше місто тощо.</p>
	                       <p>В будь-якому випадку головними факторами при прокаті автомобіля - має бути зручність оформлення, хороший стан автопарку та наявність страховок які покриють можливі ризики з автомобілем та пасажирами.</p>
                       <p>Головною задачею нашої команди є швидке і максимально комфортне для клієнта оформлення оренди автомобіля та надання клієнту дійсно справного та охайного транспортного засобу для використання його у своїх потребах.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    {% include 'tariffs.html' %}

    {% include 'aboutus.html' %}

    {% include 'cars.html' %}

<section class="trial mt-40 mb-30 text-bold text-center">
    <div class="container">
        <h3>Появились питання? Звоніть невідкладно</h3>
        <h2 style="color:#000"><i style="color:#ffc000" class="fa fa-phone-square" aria-hidden="true"></i> +38 000 999-99-99</h2>
    </div>
</section>

    {% include 'comments.html' %}

<section id="section5" class="trial mt-40 mb-30 text-bold">
    <div class="container">
        <h2 class="text-center" style="color:#000">Контактна інформація</h2>
        <div class="row">
    	 	<div class="col-xs-12 col-sm-6" >
    	 		<h6>Телефон:</h6>
    	 		<h3 style="color:#000"><i style="color:#ffc000" class="fa fa-phone-square" aria-hidden="true"></i> +38 000 999-99-99</h3>
        	</div>
        	<div class="col-xs-12 col-sm-6" style="text-align:left">
    	 		<h6>Email:</h6>
    	 		<h3 style="color:#000"><i style="color:#ffc000" class="fa fa-envelope" aria-hidden="true"></i><a style="color:#000" href="mailto:email"> ваш email</a></h3>
        	</div>
    	</div>
    	<div class="text-center">
    		<a class="btn btn-default" href="">Заказати дзвінок</a>
    	</div>

    </div>
</section>

<footer class="text-center color-white text-bold">
    <span>© Назва компанії, 2016 | <a href="http://osy.takuy.ukr">Розробник сайту</a></span>
</footer>


{% endblock %}