<section id="section0" class="header">
    <div class="container">
        <div class="headerInner">
            <h2>Прокат автомобіля<br>Оформляємо та видаємо авто в оренду</h2>
            <p>Оренда авто подобово - це найкращий спосіб пересування містами-мільйонниками незалежно від пори року. Наша компанія надає послуги з прокату авто у всіх великих містах <b class="red">України.</b></p>
            <div class="row mt-30">
                <div class="col-md-4 col-sm-6">
                	<form method="post">
                        {% csrf_token %}
                        {{ form_reserve.name }}
                        {{ form_reserve.phone }}
                        {{ form_reserve.email_us }}
						<button class="btn btn-default btn-head mt-20 mb-50">Відправити заявку</button>
                	</form>
                </div>
            </div>
        </div>
    </div>
</section>