
<section id="section1" class="our-courses parallax parallax_one" data-stellar-background-ratio="0.5" style="background-position: center bottom">
    <div class="overlay"></div>
    <div class="parallax_inner">
    <div class="container">
        <div class="row">
        	<div class="text-center mb-50 head">
            	<h2 style="color:#fff" class="mb-25">Тарифи і ціни</h2>
			</div>
            {% for category in categories %}
                <div class="col-sm-4" style="text-align:center; color:#fff; ">
                    <figure style="color:#ffc000">
                	    <h4>{{ category.price }}<i class="fa fa-euro" aria-hidden="true"></i></h4>
                    </figure>
                    <div class="info">
                        <h6>{{ category.name }}</h6>
                        <p>{{ category.desc }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>